@model Book.Data.BookDetails

@{
    ViewBag.Title = "CreateView";
}

<h2>Add New Books</h2>

@using(Html.BeginForm("Create","Home",FormMethod.Post))
{
    <table>
        <tr>
            <td>BookId</td>
            <td>@Html.TextBox("bookid")
            @Html.ValidationMessageFor(model=>model.bookId,"",new { @class = "text-danger" } )</td>
        </tr>
        <tr>
            <td>
                BookName
            </td>
            <td>
                @Html.TextBox("bookname")
            </td>
        </tr>
        <tr>
            <td>
                AuthorName
            </td>
            <td>
                @Html.TextBox("authorNAme")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" runat="server" />
            </td>
        </tr>
    </table>
}
<div>
    @Html.ActionLink("BackToHome","Index")
</div>