@model IEnumerable<Book.Data.BookDetails>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@Html.ActionLink("Add Books","Create")
@if(TempData["Message"]!=null)
{
    @Html.Label((String)TempData["Message"])
}
<table border="1">
    <tr>
        <td>
            BookName:
        </td>
        <td>
            AuthorName
        </td>
        <td>
            bookId
        </td>
    </tr>
    @foreach (Book.Data.BookDetails book in @Model)
    {
<tr>
    <td>
        @book.bookName
    </td>
    <td>
        @book.authorName
    </td>
    <td>
        @book.bookId
    </td>
    <td>
        @Html.ActionLink("Edit Book", "EditBook", new { id = book.bookId })
    </td>
    <td>
        @Html.ActionLink("Delete Book", "DeleteBook", new { id = book.bookId })
    </td>
</tr>
    }
</table>